force-app/main/default/flows/Create_Task1.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Assign_Task_Values_From_Empty_Form</name>
        <label>Assign Task Values From Empty Form</label>
        <locationX>314</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>taskRecord.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Queue.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRecord.Cost_Of_Activity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EmptyFormCost_Of_Activity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRecord.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EmptyFormStage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRecord.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DueDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRecord.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EmptyFormPriority</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRecord.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Task_From_Empty_Form</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Task_Values_From_Task_Creation_Form</name>
        <label>Assign Task Values From Task Creation Form</label>
        <locationX>50</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>taskRecord.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Queue.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRecord.Cost_Of_Activity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Cost_Of_Activity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRecord.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Stage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRecord.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DueDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRecord.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Priority</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRecord.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Task_From_Task_Template</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>CreateCustomTask</name>
        <choiceText>{!$Label.Custom_task}</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>CreateTaskFromTemplate</name>
        <choiceText>{!$Label.Task_Creation}</choiceText>
        <dataType>String</dataType>
    </choices>
    <decisions>
        <name>Task_Creation</name>
        <label>Task Creation</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Template_Task_Creation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CreateTaskFromTemplate</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Task_Templates</targetReference>
            </connector>
            <label>Template Task Creation</label>
        </rules>
        <rules>
            <name>Custom_Task_Creation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CreateCustomTask</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Empty_Task_Creation_Form</targetReference>
            </connector>
            <label>Custom Task Creation</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>UserTemplateSelection</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Task_Template__c</object>
        <outputAssignments>
            <assignToReference>selectedTemplateId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Desc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>ConvertProjectRecordTypeToQueueName</name>
        <dataType>String</dataType>
        <expression>IF({!Get_Record_Type.DeveloperName} == &quot;Client_Project&quot;, &quot;Client_queue&quot;, IF({!Get_Record_Type.DeveloperName} == &quot;Internal_Project&quot;, &quot;Internal_queue&quot;, null) )</expression>
    </formulas>
    <formulas>
        <name>DueDate</name>
        <dataType>Date</dataType>
        <expression>Today() + {!Get_Selected_Task_Template.Execution_Time__c}</expression>
    </formulas>
    <interviewLabel>Create Task {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Task</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Task_From_Empty_Form</name>
        <label>Create Task From Empty Form</label>
        <locationX>314</locationX>
        <locationY>998</locationY>
        <inputReference>taskRecord</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Task_From_Task_Template</name>
        <label>Create Task From Task Template</label>
        <locationX>50</locationX>
        <locationY>1322</locationY>
        <inputReference>taskRecord</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Project_Record_Type</name>
        <label>Get Project Record Type</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Project__c</object>
        <outputAssignments>
            <assignToReference>currentProjectRecordTypeId</assignToReference>
            <field>RecordTypeId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Queue</name>
        <label>Get Queue</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Task_Creation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ConvertProjectRecordTypeToQueueName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Record_Type</name>
        <label>Get Record Type</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Queue</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>currentProjectRecordTypeId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Selected_Task_Template</name>
        <label>Get Selected Task Template</label>
        <locationX>50</locationX>
        <locationY>998</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Task_Creation_Form_From_Task_Template</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>selectedTemplateId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Task_Template__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Task</name>
        <label>Get Task</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Project_Record_Type</targetReference>
        </connector>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Task_Templates</name>
        <label>Get Task Templates</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Select_Task_Template</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Task_Template__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Choose_Task_Creation_Type</name>
        <label>Choose Task Creation Type</label>
        <locationX>314</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Task</targetReference>
        </connector>
        <fields>
            <name>TaskCreateChooseCustomOrTemplateCreation</name>
            <choiceReferences>CreateTaskFromTemplate</choiceReferences>
            <choiceReferences>CreateCustomTask</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Please choose how you want to create the task: From Template or Custom Task?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Empty_Task_Creation_Form</name>
        <label>Empty Task Creation Form</label>
        <locationX>314</locationX>
        <locationY>782</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Task_Values_From_Empty_Form</targetReference>
        </connector>
        <fields>
            <name>EmptyFormName</name>
            <dataType>String</dataType>
            <fieldText>Name</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>EmptyFormPriority</name>
            <dataType>String</dataType>
            <fieldText>Priority</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>EmptyFormCost_Of_Activity</name>
            <dataType>Currency</dataType>
            <fieldText>Cost Of Activity</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>EmptyFormStage</name>
            <dataType>String</dataType>
            <fieldText>Stage</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>EmptyFormExecutionTime</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>DueDate</elementReference>
            </defaultValue>
            <fieldText>Due Date</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Task_Template</name>
        <label>Select Task Template</label>
        <locationX>50</locationX>
        <locationY>890</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Selected_Task_Template</targetReference>
        </connector>
        <fields>
            <name>UserSelectTemplate</name>
            <choiceReferences>UserTemplateSelection</choiceReferences>
            <extensionName>flowruntime:choiceLookup</extensionName>
            <fieldText>Choose Template</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Task_Creation_Form_From_Task_Template</name>
        <label>Task Creation Form From Task Template</label>
        <locationX>50</locationX>
        <locationY>1106</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Task_Values_From_Task_Creation_Form</targetReference>
        </connector>
        <fields>
            <name>Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Selected_Task_Template.Name</elementReference>
            </defaultValue>
            <fieldText>Name</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Priority</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Selected_Task_Template.Priority__c</elementReference>
            </defaultValue>
            <fieldText>Priority</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Cost_Of_Activity</name>
            <dataType>Currency</dataType>
            <defaultValue>
                <elementReference>Get_Selected_Task_Template.Cost_Of_Activity__c</elementReference>
            </defaultValue>
            <fieldText>Cost Of Activity</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Stage</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Selected_Task_Template.Stage__c</elementReference>
            </defaultValue>
            <fieldText>Stage</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>ExecutionTime</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>DueDate</elementReference>
            </defaultValue>
            <fieldText>Due Date</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Choose_Task_Creation_Type</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>currentProjectRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selectedTemplateId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>taskRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>TaskTemplate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task_Template__c</objectType>
    </variables>
</Flow>
