force-app/main/default/flows/Move_Project_to_Next_Stage.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Submit_for_Approval</name>
        <label>Submit for Approval</label>
        <locationX>842</locationX>
        <locationY>2498</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>Get_Project.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>Check_Project_Stage_Changed</stringValue>
            </value>
        </inputParameters>
        <nameSegment>submit</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Add_Tasks_To_Collection</name>
        <label>Add Tasks To Collection</label>
        <locationX>930</locationX>
        <locationY>2198</locationY>
        <assignmentItems>
            <assignToReference>TaskCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>TaskRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Task_Templates</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CompletedStageThen</name>
        <label>CompletedStageThen</label>
        <locationX>1106</locationX>
        <locationY>1574</locationY>
        <assignmentItems>
            <assignToReference>nextStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Next_Stage_Update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Default_Value_For_Stage</name>
        <label>Default Value For Stage</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>Get_Project.Stage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Initialization</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Tasks</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>InProgressStageThen</name>
        <label>InProgressStageThen</label>
        <locationX>578</locationX>
        <locationY>1574</locationY>
        <assignmentItems>
            <assignToReference>nextStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Next_Stage_Update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>OnHoldStageThen</name>
        <label>OnHoldStageThen</label>
        <locationX>842</locationX>
        <locationY>1574</locationY>
        <assignmentItems>
            <assignToReference>nextStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>On Hold</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Next_Stage_Update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>PreparationStageThen</name>
        <label>PreparationStageThen</label>
        <locationX>314</locationX>
        <locationY>1574</locationY>
        <assignmentItems>
            <assignToReference>nextStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Preparation</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Next_Stage_Update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Task_Record_Assignment</name>
        <label>Task Record Assignment</label>
        <locationX>930</locationX>
        <locationY>2090</locationY>
        <assignmentItems>
            <assignToReference>TaskRecord.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ProjectRecordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskRecord.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Task_Templates.Priority__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskRecord.Cost_Of_Activity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Task_Templates.Cost_Of_Activity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskRecord.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Task_Templates.Stage__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Tasks_To_Collection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_If_Get_Tasks_Is_Empty</name>
        <label>Check If Get Tasks Is Empty</label>
        <locationX>446</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>Loop_Through_Tasks</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Get Tasks Contains Records</defaultConnectorLabel>
        <rules>
            <name>Get_Tasks_is_Empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Tasks</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ShowMessageNoTasks</targetReference>
            </connector>
            <label>Get Tasks is Empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_Task_Is_Completed_Or_Not</name>
        <label>Check If Task Is Completed Or Not</label>
        <locationX>1018</locationX>
        <locationY>974</locationY>
        <defaultConnector>
            <targetReference>MessageInRed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Task Is Not Completed</defaultConnectorLabel>
        <rules>
            <name>Check_Task_If_Status_Is_Completed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Through_Tasks.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Through_Tasks</targetReference>
            </connector>
            <label>Check Task If Status Is Completed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Stage_Value</name>
        <label>Check Stage Value</label>
        <locationX>446</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Get_Tasks</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Stage Is Filled</defaultConnectorLabel>
        <rules>
            <name>Stage_Is_Empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Project.Stage__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Default_Value_For_Stage</targetReference>
            </connector>
            <label>Stage Is Empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>Move_Project_To_The_Next_Stage</name>
        <label>Move Project To The Next Stage</label>
        <locationX>842</locationX>
        <locationY>1466</locationY>
        <defaultConnector>
            <targetReference>Next_Stage_Update</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>StageEqualsInitialization</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Project.Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Initialization</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PreparationStageThen</targetReference>
            </connector>
            <label>StageEqualsInitialization</label>
        </rules>
        <rules>
            <name>StageEqualsPreparation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Project.Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Preparation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>InProgressStageThen</targetReference>
            </connector>
            <label>StageEqualsPreparation</label>
        </rules>
        <rules>
            <name>StageEqualsInProgress</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Project.Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In Progress</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>OnHoldStageThen</targetReference>
            </connector>
            <label>StageEqualsInProgress</label>
        </rules>
        <rules>
            <name>StageEqualsOnHold</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Project.Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>On Hold</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CompletedStageThen</targetReference>
            </connector>
            <label>StageEqualsOnHold</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>StagePicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Stage__c</picklistField>
        <picklistObject>Project__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Move Project to Next Stage {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Move Project to Next Stage</label>
    <loops>
        <name>Loop_Through_Task_Templates</name>
        <label>Loop Through Task Templates</label>
        <locationX>842</locationX>
        <locationY>1982</locationY>
        <collectionReference>Get_Task_Templates</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Task_Record_Assignment</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Tasks</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Through_Tasks</name>
        <label>Loop Through Tasks</label>
        <locationX>842</locationX>
        <locationY>866</locationY>
        <collectionReference>Get_Tasks</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_If_Task_Is_Completed_Or_Not</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Move_Project_To_The_Next_Stage</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Tasks</name>
        <label>Create Tasks</label>
        <locationX>842</locationX>
        <locationY>2390</locationY>
        <connector>
            <targetReference>Submit_for_Approval</targetReference>
        </connector>
        <inputReference>TaskCollection</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Project</name>
        <label>Get Project</label>
        <locationX>446</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Stage_Value</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ProjectRecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Project__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Task_Templates</name>
        <label>Get Task Templates</label>
        <locationX>842</locationX>
        <locationY>1874</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Task_Templates</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Stage__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>nextStage</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Task_Template__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Tasks</name>
        <label>Get Tasks</label>
        <locationX>446</locationX>
        <locationY>650</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_If_Get_Tasks_Is_Empty</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ProjectRecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Next_Stage_Update</name>
        <label>Next Stage Update</label>
        <locationX>842</locationX>
        <locationY>1766</locationY>
        <connector>
            <targetReference>Get_Task_Templates</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ProjectRecordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Stage__c</field>
            <value>
                <elementReference>nextStage</elementReference>
            </value>
        </inputAssignments>
        <object>Project__c</object>
    </recordUpdates>
    <screens>
        <name>MessageInRed</name>
        <label>Message In Red</label>
        <locationX>1106</locationX>
        <locationY>1082</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ShowMessageInREd</name>
            <fieldText>&lt;p&gt;{!$Label.Error_message_for_task_creation_failure}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ProceedToTheNextStage</name>
        <label>ProceedToTheNextStage</label>
        <locationX>446</locationX>
        <locationY>134</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Project</targetReference>
        </connector>
        <nextOrFinishButtonLabel>Proceed To The Next Stage</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ShowMessageNoTasks</name>
        <label>ShowMessageNoTasks</label>
        <locationX>50</locationX>
        <locationY>866</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ShowErrorMessageNoTasksInGetTasks</name>
            <fieldText>&lt;p&gt;{!$Label.Error_message_for_task_creation_failure}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>ProceedToTheNextStage</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>nextStage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ProjectRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TaskCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>TaskRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>TaskTemplateRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task_Template__c</objectType>
    </variables>
</Flow>
